<!DOCTYPE html>
<html>
   <head>
     <title><%= title %></title>
     <link rel='stylesheet' href='/stylesheets/style.css' />
   </head>
   <body>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <p>次の URL でタイルにアクセスできます｡<br>
         <code><%= url %>{z}/{x}/{y}.json</code>
      </p>
   </body>
</html>
